
<ul class="nav" style="@(SmallNav ? "text-align: center;" : string.Empty)">

    @AddNavItem("", "home", "Home", NavLinkMatch.All)

    @AddNavItem("Dock", "view_quilt", "Dock")

    @AddNavItem("GridAuto", "view_module", "Grid Auto")

    @AddNavItem("GridManual", "build", "Grid Manual")

    @AddNavItem("Resize", "aspect_ratio", "Resize")

</ul>

@code
{
    private RenderFragment AddNavItem(string href, string icon, string label, NavLinkMatch navLinkMatch = NavLinkMatch.Prefix)
    {
        return __builder =>
        {
            <li>
                <NavLink href="@href" Match="@(navLinkMatch)">
                    @if (SmallNav)
                    {
                        <MatIconButton Class="width-100 mdc-theme--secondary" Icon="@icon" />
                    }
                    else
                    {
                        <MatButton Class="width-100 mdc-theme--secondary" Icon="@icon" Label="@label" />
                    }
                </NavLink>
            </li>
        };
    }
}
