<BoxContainer Fill="Fill.Full">

@*     <div style="background-color: var(--neutral-fill-layer-rest)">
 *@
    <div style="background-color: var(--fill-color);">

        <FluentNavMenu Style="@ComputeStyle()" >

            <ul>

                <NavMenuItem Href="" Icon="@(new Icons.Regular.Size20.Home())" Label="Home" NavLinkMatch="NavLinkMatch.All" SmallNav="SmallNav" />

                <NavMenuItem Href="Dock" Icon="@(new Icons.Regular.Size20.LayoutColumnTwoSplitRight())" Label="Dock" SmallNav="SmallNav" />

                <NavMenuItem Href="GridAuto" Icon="@(new Icons.Regular.Size20.LayoutCellFour())" Label="Grid Auto" SmallNav="SmallNav" />

                <NavMenuItem Href="GridManual" Icon="@(new Icons.Regular.Size20.LayoutRowTwoSettings())" Label="Grid Manual" SmallNav="SmallNav" />

                <NavMenuItem Href="Resize" Icon="@(new Icons.Regular.Size20.Resize())" Label="Resize" SmallNav="SmallNav" />

                <NavMenuItem Href="ResizeCallback" Icon="@(new Icons.Regular.Size20.ResizeVideo())" Label="Resize Call Back" SmallNav="SmallNav" />

                <NavMenuItem Href="ScrollCallback" Icon="@(new Icons.Regular.Size20.ArrowAutofitHeight())" Label="Scroll Call Back" SmallNav="SmallNav" />

                <NavMenuItem Href="DisplayOnWidth" Icon="@(new Icons.Regular.Size20.PhoneDesktop())" Label="Display On Width" SmallNav="SmallNav" />

            </ul>

        </FluentNavMenu>

    </div>

</BoxContainer>
