<CascadingValue Value="ScreenSize">
<CascadingValue Value="ScrollInfo">

<div @ref="ElementReference" class="full-size main grid-template grid-layout" style="--proportion: @MaxProportion%;">
    <div id="@NavigationPanelId" class="dock-left @NavigationClass" style="@NavigationStyle">
        <div class="dock-left-header">
            @(UseSmallNavigation && SmallNavigationHeader != null ? SmallNavigationHeader : NavigationHeader)
        </div>
        <div class="dock-left-body">
            @(UseSmallNavigation && SmallNavigationMenu != null ? SmallNavigationMenu : NavigationMenu)
        </div>
        <div class="dock-left-header-small">
            @(SmallNavigationHeader ?? NavigationHeader)
        </div>
        <div class="dock-left-body-small">
            @(SmallNavigationMenu ?? NavigationMenu)
        </div>
    </div>
    <div id="@HeaderPanelId" class="dock-top @ClassHideHeader" @ref="HeaderElementReference" style="--header-height: @(headerHeight)px;">
        @Header
    </div>
    @if (EnableOutline)
    {
        <div id="@OutlinePanelId" class="dock-right @ClassContentOverflow">
            @Outline
        </div>
    }
    <div id="@ChildContentPanelId" class="main-content @ClassContentOverflow">
        @ChildContent
    </div>
    <div id="@FooterPanelId" class="dock-bottom @ClassHideFooter" @ref="FooterElementReference" style="--footer-height: @(footerHeight)px;">
        @Footer
    </div>
</div>

</CascadingValue>
</CascadingValue>
