

<div class="full-size main grid-template grid-layout" style="--proportion: @MaxProportion%;">
    <div class="dock-left @NavigationClass">
        <div class="dock-left-header">
            @(UseSmallNavigation && SmallNavigationHeader != null ? SmallNavigationHeader : NavigationHeader)
        </div>
        <div class="dock-left-body">
            @(UseSmallNavigation && SmallNavigationMenu != null ? SmallNavigationMenu : NavigationMenu)
        </div>
        <div class="dock-left-header-small">
            @(SmallNavigationHeader ?? NavigationHeader)
        </div>
        <div class="dock-left-body-small">
            @(SmallNavigationMenu ?? NavigationMenu)
        </div>
    </div>
    <div class="dock-top">
        @Header
    </div>
    @if (EnableOutline)
    {
        <div class="dock-right @ClassContentOverflow">
            @Outline
        </div>
    }
    <div class="main-content @ClassContentOverflow">
        @ChildContent
    </div>
    <div class="dock-bottom">
        @Footer
    </div>
</div>

